.main_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 40px auto;
  gap: 15px 15px;
}
.main_content .movie_container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.main_content h1 {
  font-size: 20px;
  color: white;
  text-align: center;
}
