* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  white-space: nowrap;
  background-size: cover;
  background-image: url("https://cutewallpaper.org/21/1080p-gif-wallpaper/wg-WallpapersGeneral-Thread-7178018.gif"); 
  background-attachment: fixed;
}

.background-image {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 450px;
  z-index: -1;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.inputter {
  width: 100%;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 30px;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  gap: 15px;
}


.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
}

.new-todo {
  background-color: black;
  height: 70px;
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
}

.check {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark img {
  visibility: hidden;
}

.check-mark:hover {
  z-index: 2;
    background-color: lightskyblue;
  transition: .25s ease-in-out;
}

.check-mark.checked {
  background-color: lightskyblue ;

}


.check-mark:hover img, .check-mark.checked img {
  visibility: visible;
}

.todo-text.checked {
  text-decoration:line-through;
  text-decoration-color: lightskyblue;
  color: rgb(59, 59, 59);
}

.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.new-todo-input form {
  flex-grow: 1;
}

.new-todo-input input {
  width: 100%;
  padding: 10px 0px;
  margin-left: 15px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
}

.new-todo-input input::placeholder {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}

.todo-item {
  height: 70px;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  width: 100%;
  display: flex;
  color: hsl(234, 39%, 85%);
  font-size: 18px;
  transition: all 0.25s ease;
  display: flex;
}

.todo-item:hover {
  transform: transform(50px);
  box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
  border-color: lightskyblue;
  transition: ease-in-out;
}

.todo-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 20px;
}

.todo-items-wrapper {
  white-space: nowrap;
  margin-top: 30px;
  background-color: black;
  border-radius: 6px;
  overflow: hidden;
  box-shadow:  15px 20px 60px 15px rgba(255, 255, 255, 0.603);
}

.todo-items-info {
  height: 70px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  font-family: 'Press Start 2P', cursive;
}

.items-statuses {
  display: flex;
  justify-content: center;
  
}

.items-statuses span {
  padding: 0 5px;
  cursor: pointer;
}

.items-statuses span.active, .items-clear:hover {
  color:orange;
}

.items-clear {
  cursor: pointer;
  text-align: end;
}

.color-fill1, .completed {
  position: relative;
}

.color-fill1::before{
  content: "Completed";
}

.color-fill1::before, .completed::before {
  position: absolute;
  top: 0;
  left: 1;
  width: 0;
  color: greenyellow;
  overflow: hidden;
  transition: all .35s linear;
}

.color-fill1:hover:before, .completed:hover::before{
  width: 100%;
}

.clear-items {
  font-size: 15px;
}

.clear-items:hover {
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  color: red;
  cursor: pointer;
}

.items-completed {
  font-size: 15px;
}

.items-completed:hover {
  font-size: 15px;
  color: greenyellow;
  cursor: pointer;
}

.trash-icon{
  color: rgba(255, 0, 0, 0.342);
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
}

.trash-icon:hover{
  transition: all 0.15s ease-in-out;
  color: rgb(255, 0, 0);
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
}

.binmarkwraper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px ;
}

.color-fill2, .completed {
  position: relative;
}

.color-fill2::before{
  content: "To Do List";
}

.color-fill2::before, .completed::before {
  position: absolute;
  top: 0;
  left: 1;
  width: 0;
  color: black;
  overflow: hidden;
  transition: all .35s linear;
}

.color-fill2:hover:before, .completed:hover::before{
  width: 100%;
}
