html,
body {
  padding: 0;
  margin: 0;
}

.box {
  background-color: grey;
  padding: 10px;
  width: 200px;
  height: 200px;
  border: 10px solid red;
  outline: 10px solid green;
}
.box > p {
  text-align: right;
  direction: rtl;
  background-color: black;
  color: chartreuse;
  font-family: "Shadows Into Light";
  font-size: 20pt;
}
