div {
    display: flex;
    flex-direction: column;
}

input::placeholder{
    color:green
}

.text-orange{
    color:orange
}

.btn-outline-orange{
    border:1px solid orange;
}

.btn-outline-orange:hover{
    border:1px solid orange;
}