a {
    color: white;
    display: inline-block;
    width: 100%¨;
    text-decoration: none;
    border-radius: 5px;
}

a.Contact {
    background-color: burlywood;
    color: white;
}

h1.service {
    text-align: center;
    background-color: green;
    color: rgb(123, 238, 169);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
}

ul.contact_info {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.about {
    text-align: right;
    text-decoration: none;
    border-radius: 25px;
}

p.brussel_about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align-last: center;
}