h1.welcome {
    
    text-align: center;
    color: white; 
    background-color: gray;
    border-radius: 20px;
    
}

p.beautiful_flowers {
    text-decoration: none;
    color: red;
    background-color: grey;
    border-radius: 20px;
    text-align: center;
}

a:hover {
    color: darkgreen;
}