body{
    background-color: black;
}

.c1{
    background:linear-gradient(to right, rgb(255, 255, 255),rgb(0, 0, 0), rgb(21, 255, 0));
    padding: 20px;
    border: white solid 5px;
    border-radius: 10px;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
    font-weight:bold;
    color: lime;
}

h5 ,p{
    color: chartreuse;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
}