div.inputs {
    display: flex;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px ;
    flex-wrap: nowrap;
    border: 10px solid white;
    border-radius: 10px;
    width: 1400px;
}

form input {
    margin: 10px;
    background-color:black;
}
form .button{
    background-color: transparent;
    width: 50px;
    height: 20px;
    animation: test 10s infinite;
}


@keyframes test{
    0%{
        background-color: red;
    
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: purple;
    }
}
/*
.child{

    display: flex;
    box-sizing: border-box;
    /* width: 70%; 
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-end;
    padding: 20px;
    
}
*/

body {
    background-image: url(https://www.erfgoedbrabantacademie.nl/image/2020/4/7/unsplash_oude_computer_roze_lorenzo_herrera_yp89apz2taa_unsplash-713616409.jpg%28%29%2823DEE38708A016F111932CB0ED569E5B%29.jpg);
    background-size: cover;
    
}
