body {
  background-color: black;
  
}
header > h2 {
  text-align: center;
  background: white;
  background-position: center;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding-top: 125px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 600px;
  font-size: 40pt;
  letter-spacing: 3px;
  background-image: url(./55555.jpg);
  background-size: cover;
  height: 250px;
  margin-left: 425px;
  border: blue 1px solid;
  
}
header > p{
    text-align: center;
    color: red;
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
